--swiftversion 6.0

# file options

--exclude .build

# format options

--ifdef no-indent
--indent 2
--extensionacl on-declarations
--linebreaks lf
--maxwidth 80
--patternlet inline
--self insert
--stripunusedargs closure-only
--wraparguments before-first

# rules

--disable andOperator
--disable blankLinesAroundMark
--disable wrapMultilineStatementBraces
